:root {
    --main--color: #00bbff;
}  

.logo img{
    max-height: 98px;
}

.btn{
    background-image:linear-gradient(to left, #3aa8cf, var(--main--color), #77d1f1);
}

.footer-area img{
    max-height: 100px;
}

 .col-xl-4{
    display: flex;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}